td {
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
}

tr.row-odd td.col-odd,
tr.row-even td.col-even {
	background-color: red;	
}

tr.row-even td.col-even,
tr.row-odd td.col-odd {
	background-color: green;	
}

td.is-spot {
	background-color: yellow !important;
}